<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'survey/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Dojo Survey</title>
</head>
    <body>
        <div id="survey">
        <div id="formstyling">
        <form action="result/" method="POST">
             {% csrf_token %}
                <div class="formName">
                    <label for="name" id="name">Name:</label>
                    <input type="text"name="name">
                </div>
                <div class="formLocation"> <label for="location">Dojo Location</label>
                    <select class="pulldown"name="location" name="location">
                            <option>Washigton D.C.</option>
                            <option>Silcon Valley</option>
                            <option>Los Angeles</option>
                            <option>Dallas</option>
                            <option>Chicago</option>
                            <option>Tulsa</option>
                    </select>
                </div>
                <div class="formLang"> <label for="favlang">Favorite Language</label>
                    <select name="favlang">
                            <option>Python</option>
                            <option>Java</option>
                            <option>Angular</option>
                            <option>C#</option>
                            <option>HTML</option>
                            <option>CSS</option>
                    </select>
                </div>
                <div class="formComments"> <textarea name="comments"></textarea>
                    <button>Submit</button>
                </form>
                </div>
        </div>
    </body>
</html>