<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Thank you for your Business</h1>
    We charged your credit card for {{purchased}}
    <p>You have ordered {{request.session.count}} so far and spent<br/>
    {{totalprice}}with Amadon.com</p>
    <p><a href="/amadon">Go Back</a></p>
    <p><a href="/clear">Clear Order</a></p>
</body>
</html>