<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete this course?</h1>
 
    <p>{{courses.name}}</p>
    <p>{{courses.description}}</p>
    <a href="/courses">NO</a>
    <form action="delete/{{courses.id}}" method="POST">
        {% csrf_token %}
    <input type="submit" description="YES">
    </form>
  
</body>
</html>